.product {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin-left: 1px; */

}

.prod-container {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  background-color: #fff;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}
.left-container {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  width: 50%;
  max-width: 400px;
  box-shadow: 0px 2px 4px #1bd1db;
}

.prod-container-left {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.prod-container-left > img {
  width: 150px;
  object-fit: contain;
  padding: 20px;
  transition: all 0.3s;
}

.prod-container-left:hover > img {
  transform: scale(1.3) rotate(5deg);
}

.prod-container-right {
  width: 50%;
  max-width: 400px;
  background-color: #fff;
}